.topbanner{
    background-image: url('https://images.moneycontrol.com/static-mcnews/2020/08/Webp.net-resizeimage-26-770x433.jpg?impolicy=website&width=770&height=431');
    background-size: cover;
    background-repeat: no-repeat;
    
}